@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: local('☺'), url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: local('☺'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('truetype');
    font-weight: 800;
    font-style: normal;
}


body {
    font-family: 'Montserrat'sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.index-page {
    overflow: hidden;
}

/*  Nav-toggle
========================== */

.nav-toggle {
    position: absolute;
    padding: 10px 0;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    display: none;
    top: 24px;
    right: 24px;
    z-index: 1;
    width: 30px;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle__item::before {
    top: -8px;
}

.nav-toggle.active .nav-toggle__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}

.nav-toggle__item::after {
    bottom: -8px;
}


/* Container
========================== */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
========================== */

.header-top {
    width: 100%;
    height: 50px;
    background: #1c9700;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: space-between;
}

.mail {
    display: flex;
    align-items: center;
}

.mail a {
    text-decoration: none;
}

.mail h3 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Gilroy', sans-serif;
    color: #ffffff;
    margin-left: 7px;
    transition: all .3s linear;
}

.mail h3:hover {
    color: #78f05e;
}

.lang {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lang-ru {
    position: relative;
}

/* .lang-ru::before {
    content: "";
    display: block;
    width: 3px;
    height: 21px;
    background: #fff;
    position: absolute;
    right: -13%;
    bottom: 6px;
    margin: 0 17px 0 8px;
} */

.russia {
    width: 20px;
    height: 14px;
}

.drop {
    outline: none;
    border: none;
    background:#1c9700
}

.drop:focus {
    background:#1c9700;
}

.dropdown-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-item img{
    margin-bottom: 4%;
    margin-right: 5%;
}

.lang h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Gilroy', sans-serif;
}

.figure {
    width: 5px;
    height: 4px;
    margin-left: 3px;
    margin-top: 2.7px;
}

hr {
    width: 3px;
    height: 21px;
    background: #fff;
    color: #ffffff;
    margin: 0 17px 0 8px;
    opacity: 1;
}

.calendar {
    margin-right: 8px;
}

/* Nav
========================== */

.nav.fixed {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    z-index: 999;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 700;
    font-family: 'Gilroy', sans-serif;
}

.nav__lin a {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
    margin-right: 34px;
    transition: color .3s linear;
    position: relative;
}

.nav__lin a:last-child {
    margin-right: 0;
}

.nav__link.active {
    color: #1c9700;
}

.nav__link::after {
    content: "";
    display: block;
    width: 0;
    opacity: 1;
    height: 2px;
    position: absolute;
    background: #1c9700;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: width .2s linear;
}

.nav__link:hover {
    color: #1c9700;
}

.nav__link:hover::after,
.nav__link.active:after {
    width: 100%;
}

/* Intro
========================== */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    width: 100%;
}

.intro__suptitle {
    font-size: 100px;
    font-family: 'Gilroy', sans-serif;
    margin-top: -65px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.intro__title {
    font-size: 35px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.carousel-inner .item {
	height: 100vh;
}

.banner img {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    height: 100vh;
}

.banner-1 {
    background: url('../img/intro/b1.jpg') no-repeat;
    -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    height: 100vh;
    
}

.banner-2 {
    background: url('../img/intro/b2.jpg') no-repeat;
    -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    height: 100vh;
    
}

.banner-3 {
    background: url('../img/intro/b1.jpg') no-repeat;
    -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    height: 100vh;
    
}

.carousel-caption {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    right: 0;
    left: 0;
    top: calc(50% - 336px);
}

.carousel-caption h2 {
	font-size: 84px;
	text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 30px;
}

.carousel-caption h2 span {
    color: #fff;
}

.carousel-caption h3 {
    font-size: 30px;
}

.carousel-caption a {
	background: #1c9700;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
    text-decoration: none;
    transition: all linear .3s;
}

.carousel-caption a:hover {
    background: #28b908;
    color: #333;
}

.carousel-control.right {
	background-image: none;
}

.carousel-control.left {
	background-image: none;
}

.carousel-indicators .active {
	background-color: #1c9700;
	border-color: #1c9700;
}

/* Fon
========================== */

.fon-1 {
    z-index: 2;
    position: relative;
}

.fon-1 img {
    position: absolute;
    right: 0%;
    top: 0%;
}

.fon-2 img {
    position: absolute;
    z-index: -9;
    top: -18%;
}

.fon-3 img {
    position: absolute;
    bottom: 0%;
    z-index: 1;
}

/* About
========================== */

.about {
    margin-top: 70px;
    z-index: 2;
    position: relative;
    text-align: center;
}

.ab3 {
    color: #222221;
    font-size: 49px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

.about h3 span {
    color: #1c9700;
}

.about__content {
    display: flex;
    z-index: 2;
    position: relative;
}

.about__photo {
    margin-right: 5%;
}

.about__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about__info {
    display: flex;
    align-items: center;
}

.about__text h3 {
    color: #222221;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding-bottom: 10px;
    left: 6%;
}

.about__text h3::before {
    content: "";
    display: block;
    height: 72px;
    width: 8px;
    background: #1c9700;
    top: -36%;
    position: absolute;
    left: -5%;
}

.about__text p {
    color: #333333;
    font-weight: 500;
    line-height: 30px;
    font-size: 17px;
    width: 625px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
}

.about__wave {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 85.5%;
    z-index: 1;
    height: 218px;
}

.about__one {
    background: url("../img/wave_top.png") repeat-x;
    width: 7000px;
    height: 218px;
    animation: waves 10s infinite linear;
    position: absolute;
    top: 0;
    z-index: 1;
}

.about__two {
    background: url("../img/wave_top_opacity.png") repeat-x;
    width: 7000px;
    height: 218px;
    animation: waves 8s infinite linear;
    position: relative;
    top: 0;
    z-index: 1;
}

@keyframes waves {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1938px;
    }
}

/* Section
========================== */

.section__bg {
    height: 350px;
    background: url('../img/paralax/paralax-1.jpg') fixed center center;
    background-size: cover;
    text-align: center;
    margin-top: 115px;
}

.section__title {
    text-align: center;
}

.section__title h3 {
    padding-top: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.section__title h3::after {
    content: "";
    display: block;
    width: 172px;
    height: 6px;
    background-color: #1c9700;
    margin: 15px auto;
}

.section__info {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.section__info span {
    color: #1c9700;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    position: relative;
}

.section__info .m2 {
    color: #1c9700;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
}

.section__info p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/* Company
========================== */

.company {
    position: relative;
    z-index: 9;
}

.about__company {
    display: flex;
    justify-content: center;
    margin: 115px 0;
}

.company__info {
    display: flex;
    z-index: 9;
}

.about__info h3 {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 33px;
    z-index: 9;
    position: relative;
    padding: 0px 0 22px 0;
    left: 3.5%;
}

.about__info h3::before {
    content: "";
    display: block;
    height: 72px;
    width: 8px;
    background: #1c9700;
    top: -26%;
    position: absolute;
    left: -7%;
}

.company__text p {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 585px;
    text-align: justify;
    margin-top: 20px;
    margin-right: 70px;
    line-height: 30px;
    z-index: 9;
}

.company__photo {
    position: relative;
    z-index: 9;
}

.company__photo h3 {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    font-weight: 700;
    bottom: 15%;
    left: 5%;
    z-index: 9;
}

.company__photo span {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-weight: bold;
    position: absolute;
    bottom: 8%;
    left: 16%;
    z-index: 9;
}

.company__wave {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 84%;
    z-index: 1;
    height: 218px;
}

.company__one {
    background: url("../img/wave_top.png") repeat-x;
    width: 7000px;
    height: 218px;
    animation: waves 10s infinite linear;
    position: absolute;
    top: 0;
    z-index: 1;
}

.company__two {
    background: url("../img/wave_top_opacity.png") repeat-x;
    width: 7000px;
    height: 218px;
    animation: waves 8s infinite linear;
    position: relative;
    top: 0;
    z-index: 1;
}

@keyframes waves {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1938px;
    }
}

/* Exclusive
========================== */

.exclusive__paralax {
    height: auto;
    background: url('../img/paralax/paralax-2.jpg') fixed center center;
    background-size: cover;
    text-align: center;
    margin-top: 110px;
}

.exclusive__text {
    color: #ffffff;
    margin: 0 auto;
    width: 450px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 50px;
}

.exclusive__photo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
}

.photo-1 {
    margin-bottom: 7%;
    padding: 0 20px;
}

.photo-2 {
    margin-bottom: 3%;
    padding: 0 20px;
}

.photo-3 {
    margin-bottom: 2%;
    padding: 0 20px;
}

.photo-4 {
    margin-bottom: 3%;
    padding: 0 20px;
}

/* News
========================== */

.news {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.news-bg {
    background: #f6f7f8;
}

.news span {
    color: #1c9700;
}

.news__content {
    display: flex;
    padding: 30px 0 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.news-page-h3 {
    text-align: center;
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
    font-weight: 700;
}

.news-1 {
    width: 321px;
    background: #fff;
    margin: 10px 10px 10px 0;
}

.news-1 img {
    width: 100%;
}

.hover {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.news-1 h3 {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 23px 34px 23px 16px;
}

.news-1 p {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0 25px 45px 15px;
}

.news-1 a {
    text-decoration: none;
}

/* Price
========================== */

.price__paralax {
    height: 340px;
    background: url('../img/paralax/paralax-3.jpg') fixed center center;
    background-size: cover;
    text-align: center;
    margin: 0 0 110px 0;
}

.paralax__title {
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    width: 600px;
    margin: 0 auto;
}

.paralax__title h3::after {
    content: "";
    display: block;
    width: 172px;
    height: 3px;
    background-color: #1c9700;
    margin: 30px auto 55px;
}

.btn {
    background-color: #1c9700;
    border-radius: 2px;
    border-style: none;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: all .3s linear;
}

.btn:hover {
    background-color: #28b908;
}

.telegram {
    position: absolute;
    width: 36px;
    left: 8%;
    bottom: 29%;
}

.document {
    position: absolute;
    left: 20%;
    top: 25%;
    width: 20px
}

.but-1 {
    padding: 19px 48px 19px 75px;
    margin-right: 38px;
    align-items: center;
}

.but-2 {
    padding: 19px 64px 19px 94px;
    align-items: center;
}

/* Partner
========================== */

.partner__title h3 {
    text-align: center;
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
    font-weight: 700;
}

.partner__title span {
    color: #1c9700;
}

.partner__title h3::after {
    content: "";
    display: block;
    width: 169px;
    height: 3px;
    background-color: #1c9700;
    margin: 23px auto 78px;
}

.slick__slider {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.slider__item {
    outline: none;
}

.slider__item img {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

/* Contact
========================== */

.contact {
    background-color: #1e2226;
    position: relative;
}

.contact__title h3 {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
    font-weight: 700;
    padding-top: 30px;
}

.contact__title h3::after {
    content: "";
    display: block;
    width: 170px;
    height: 3px;
    background-color: #1c9700;
    margin: 18px auto;
}

.contact__link {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.contact__link button {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #1c9700;
    padding: 18px 65px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .3s linear;
}

.contact__link button:last-child {
    margin-right: 0;
}

.contact__link button:hover {
    background: #31c510;
}

.contact__link button:focus {
    background: #292d31;
}

.contact__link button.active {
    background: #292d31;
}

.city {
    margin-top: 47px;
    text-align: center;
    position: relative;
}

.city img {
    margin: 0 auto;
}

.city-img {
    display: none;
}

.city-img.active {
    display: block;
}

.line {
    background-color: #ffffff;
    opacity: 0.5;
    width: 100%;
    height: 1px;
    margin-bottom: 50px;
    z-index: 9;
}

.contact__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

.cont-info {
    padding-top: 50px;
}

.contact__logo {
    z-index: 9;
    padding-right: 20px;
}

.contact-page-logo {
    padding-top: 60px;
}

.contact__info h3 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 9;
}

.contact__info h4 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 500;
    margin-top: 10px;
    z-index: 9;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 55px;
    z-index: 9;
}

.social__icon-1,
.social__icon-3 {
    z-index: 9;
}

.social__icon-2 {
    margin: 0 57px;
    z-index: 9;
}

.copyright {
    height: 35px;
    width: 100%;
    background-color: #115900;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.copyright span {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

/* Jobs
========================== */

.jobs {
    background-color: #f4f4f4;
    padding-bottom: 245px;
}

.jobs__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jobs h3 {
    padding-top: 60px;
    padding-bottom: 50px;
}

.job__left {
    display: flex;
    width: 627px;
    height: 160px;
    background-color: #1c9700;
    align-items: center;
}

.job__left hr {
    width: 6px;
    height: 112px;
    background-color: #ffffff;
    margin: 24px 0 24px 19px;
}

.job__left h3 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-left: 37px;
    line-height: 40px;
}

.job__left span {
    color: #ffffff;
    font-family: "Montserrat - Extra Bold";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.job__right {
    height: 160px;
    background-color: #ffffff;
    position: relative;
}

.job__right h4 {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 30px 24px 26px 30px;
}

.job__mail img {
    padding-left: 25px;
}

.job__mail span {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    position: absolute;
    text-transform: uppercase;
    margin-top: -3px;
    margin-left: 15px;
}

.job__right a {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
}

/* Contact-Page
========================== */

.contact__page {
    background-color: #f4f4f4;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.contact__page h3 {
    padding: 60px 0 0;
}

.contact__page-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 8px;
}

.contact__page-3 {
    margin-top: 5px;
}

.contact__page-1 {
    display: flex;
    position: relative;
    margin-top: 30px;
    padding-right: 20px;
}

.contact__page-2 {
    display: flex;
    position: relative;
    margin-top: 30px;
    padding-right: 20px;
}

.contact__page-3 {
    display: flex;
    position: relative;
    margin-top: 30px;
    padding-right: 20px;
}

.contact__page-1 img {
    padding-top: px;
}

.contact__page-1 p {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 29px;
    text-transform: uppercase;
}

.contact__page-1 span {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-top: 4px;
    position: absolute;
}

.contact__page-2 {
    position: relative;
}

.contact__page-2 p {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contact__page-2 span {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    padding-top: 4px;
}

.job__mail {
    display: flex;
}

.job__mail a {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
}

.job__mail p {
    text-decoration: none;
    color: #222221;
    font-weight: 500;
    line-height: 30px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.e-mail {
    text-decoration: none;
    color: #222221;
    font-weight: 700;
    line-height: 30px;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.job__mail span {
    margin-left: 0;
}

.contact__link button {
    z-index: 9;
}

.social__contact {
    align-items: center;
    padding-top: 31px;
    margin-bottom: 25px;
}

.social__contact-1,
.social__contact-3 {
    z-index: 9;
}

.social__contact-2 {
    margin: 0 57px;
    z-index: 9;
}

.map {
    display: flex;
    margin-top: 25px;
    z-index: 9;
    padding-bottom: 70px;
}

.map-1 {
    background-color: #fff;
    margin-left: .6%;
    width: 320px;
    margin-right: 10px;
    height: 492px;
    position: relative;
    z-index: 9;
}

.map-1 img {
    width: 320px;
    z-index: 9;
}

.map-1 .office {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 700;
    position: absolute;
    top: 52%;
    left: 5%;
    z-index: 9;
}

.map-1 .city-address {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 70%;
    line-height: 25px;
    left: 5%;
    z-index: 9;
}

.map-1 h3 {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 700;
    position: absolute;
    top: 73%;
    left: 5%;
    z-index: 9;
}

.map-1 p {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 91%;
    line-height: 25px;
    left: 5%;
}

.map-2 iframe {
    width: 798px;
    max-width: 100%;
    height: 100%;
    max-height: 492px;
}

.fon-4 {
    position: absolute;
    right: 0%;
    top: 51%;
    z-index: -1;
}

.tab__item {
    display: none;
}

.tab__item.active {
    display: block;
}
/* News-Page
========================== */

.news__page {
    background-color: #f4f4f4;
}

.news__page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #f4f4f4;
    padding-left: 10px;
    margin: 0;
}

.news-partner__title {
    text-align: center;
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
    font-weight: 700;
    padding-top: 60px;
}

.news-partner__title h3::after {
    content: "";
    display: block;
    width: 169px;
    height: 3px;
    background-color: #1c9700;
    margin: 23px auto 78px;
}

.news__page-content .n-2 {
    margin: 0 32px;
}

.news__page-content .news-1 {
    margin-bottom: 45px;
}

.cont-news {
    padding-top: 50px;
}

.cont-news .line {
    margin-top: 33px;
}

/* Price-Page
========================== */

.price__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 180px;
}

.news__page .new-h3 {
    padding-top: 60px;
}

.price__left {
    margin-right: 24px;
}

.price__content p {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    width: 624px;
    font-weight: 500;
}

.price__content h3 {
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 44px 0 58px 0;
    width: 470px;
    line-height: 35px;
}

/* News-1
========================== */

.news-best {
    text-align: center;
    background-color: #f4f4f4;
    padding-bottom: 65px;
}

.news-best h3 {
    color: #222221;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 827px;
    padding: 50px 0 40px;
}

.news-best img {
    margin-bottom: 45px;
    width: 80%;
}

.news-best p {
    width: 890px;
    height: auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
    text-align: left;
}

.banner-info {
    padding-top: 50px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 820px;
    position: relative;
    text-align: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../img/banner.jpg') no-repeat center;
    background-size: cover;
    padding-bottom: 70px;
}

.banner__suptitle {
    color: #ffffff;
    font-family: 'Gilroy', sans-serif;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    width: 1080px;
    margin: 0 auto;
}

/* Responsive
========================== */

@media (min-width: 1025px) {
    .about__text p {
        width: 550px;
        padding-right: 15px;
    }

    .company__text p {
        width: 450px;
        margin-right: 40px;
    }
}

@media (max-width: 1158px) {
    .price__content p {
        width: 100%;
        max-width: 1104px;
        padding-top: 50px;
    }

    .price__left {
        margin-right: 0;
    }
}
@media (max-width: 1125px) {

    .link-1,
    .link-2,
    .link-3,
    .link-4,
    .link-5 {
        font-size: 15px;
        padding: 15px 60px;
        margin-right: 10px;
    }
}

@media (max-width: 1069px) {
    .job__left {
        margin-bottom: 50px;
    }
    .job__right {
        width: 100%;
        max-width: 627px;
    }
}

@media (max-width: 1024px) {
    body {
        margin: 0 auto;
    }

    .index-page {
        overflow: hidden;
    }

    .logo {
        margin-right: 15px;
    }

    .intro {
        /* width: 150%; */
        margin: 0 auto;
    }

    .intro__suptitle {
        font-size: 70px;
    }

    .intro__title {
        font-size: 25px;
    }

    .carousel-caption h2 {
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 900;
        padding-bottom: 30px;
    }

    .about__content {
        margin-top: 60px;
        z-index: 2;
        justify-content: center;
        position: relative;
    }

    .about__company {
        padding: 0 15px;
    }

    .company__text {
        padding-left: 120px;
    }

    .about__text h3 {
        font-size: 32px;
    }

    .ab3 {
        padding-bottom: 0;
    }

    .about__text p {
        width: 490px;
    }

    .about__content {
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        width: 100%;
        margin: 0 auto;
    }

    .about__photo img {
        width: 110%;
        margin: 0 auto;
        padding: 50px 0;
    }

    .about__content p {
        width: 100%;
        max-width: 1000px;
    }

    .price__paralax {
        height: 360px;
        margin-bottom: 30px;
    }

    .contact__title h3 {
        padding-top: 30px;
    }

    .company__info {
        flex-wrap: wrap;
    }

    .company__text {
        padding-left: 0;
    }

    .company__text p {
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        max-width: 1100px;
        margin-top: 25px;
        line-height: 29px;
        z-index: 9;
    }

    .company__photo {
        position: relative;
        margin: 0 auto;
        width: 100%;
        z-index: 9;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .company__photo h3 {
        left: 30%;
    }

    .company__photo span {
        left: 37%;
    }

    .about__info h3 {
        left: 2%;
    }

    .exclusive__photo {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .exclusive__paralax {
        margin-top: -75px;
    }

    .section__bg {
        margin-top: 50px;
    }

    .news-1 {
        width: 315px;
    }

    .news-1 img {
        width: 100%;
    }

    .link-1,
    .link-2,
    .link-3,
    .link-4,
    .link-5 {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 500;
        border-radius: 2px;
        background-color: #1c9700;
        padding: 15px 60px;
        margin-right: 10px;
        cursor: pointer;
        outline: none;
        border: none;
        transition: all .3s linear;
    }

    .link-5 {
        margin-right: 0;
    }

    .contact__info h3 {
        font-size: 18px;
    }

    .contact__info h4 {
        font-size: 18px;
    }

}

@media (max-width: 1024px) {

    .link-1,
    .link-2,
    .link-3,
    .link-4,
    .link-5 {
        padding: 15px 42px;
    }
}

@media (min-width: 1025px) {
    .contact__info h3 {
        font-size: 20px;
    }

    .contact__info h4 {
        font-size: 20px;
    }
}

@media (max-width: 1022px) {
    .news-1 {
        width: 48%;
    }
}

@media (min-width: 1366px) {

    .index-page {
        overflow: hidden;
    }

    body {
        margin: 0 auto;
    }

    .about__content {
        margin-left: 11%;
    }

    .about__company {
        padding: 0 15px;
    }

    .company__text {
        padding-left: 120px;
    }

    .company__text p {
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        width: 475px;
        margin-top: 25px;
        margin-right: 90px;
        line-height: 29px;
        z-index: 9;
    }

    .company__photo {
        position: relative;
        margin-right: 90px;
        width: 90%;
        z-index: 9;
    }

    .price__paralax {
        height: 360px;
        margin-bottom: 30px;
    }

    .contact__title h3 {
        padding-top: 30px;
    }
}

@media (max-width: 992px) {
    .contact__link button {
        padding: 19px 44px;
    }
}

@media (max-width: 768px) {

    .logo {
        margin: 0 auto;
    }

    .nav.fixed .logo img {
        width: 90%;
    }

    .nav.fixed .active {
        top: 100%;
    }

    .nav.fixed .nav-toggle.active .nav-toggle__item {
        background: none;
    }

    .nav.fixed .nav-toggle {
        top: 50px;
    }

    .nav.fixed .nav-toggle__item {
        background: #1c9700;
    }
    
    .nav.fixed .nav-toggle__item::after, .nav-toggle__item::before{
        background: #1c9700;
    }
    
    .nav.fixed .nav-toggle__item::before{
        background: #1c9700;
    }

    .nav-toggle__item::before, .nav-toggle__item::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: transform .2s linear;
    }

    .nav__lin {
        display: none;
        position: absolute;
        width: 100%;
        top: 14%;
        z-index: 10;
        left: 0;
        background-color: #000000;
        text-align: center;
        height: auto;
    }

    .nav .active {
        display: block;
    }

    .nav__lin a {
        margin: 0 auto;
        color: #ffffff;
        font-size: 48px;
        padding-top: 15px;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle__item {
        margin-bottom: 17px;
    }

    .info {
        display: flex;
        justify-content: space-around;
    }

    .header-top {
        align-items: center;
    }

    .intro {
        width: 170%;
    }

    .intro__inner {
        margin: 0 auto;
    }

    .intro__suptitle {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .intro__title {
        line-height: 35px;
        font-size: 15px;
    }

    .about__text {
        padding-right: 60px;
    }

    .about__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5%;
    }

    .about__photo {
        margin-right: 10%;
    }

    .about__photo img {
        width: 100%;
        margin: 0 auto;
    }

    .about__text {
        padding-top: 0;
    }

    .about__text p {
        margin-top: 25px;
        width: 100%;
        max-width: 800px;
    }

    .about__info h3 {
        left: 2.7%;
        padding-top: 10px;
    }

    .about__info h3::before {
        top: -11%;
    }

    .section__info span {
        font-size: 38px;
    }

    .section__info p {
        font-size: 14px;
    }

    .section__info {
        position: relative;
    }

    .fon-2 img {
        top: 0%;
    }

    .info-1 {
        position: absolute;
        left: -1%;
    }

    .info-2 {
        position: absolute;
        left: 16.5%;
    }

    .info-3 {
        position: absolute;
        left: 40%;
    }

    .info-4 {
        position: absolute;
        left: 60%;
    }

    .info-5 {
        position: absolute;
        left: 85%;
    }

    .company__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .company__text {
        padding: 35px 26px;
    }

    .about {
        padding-bottom: 150px;
    }

    .about__info {
        padding-top: 0;
    }

    .about__company {
        margin: 0;
    }

    .section__bg {
        margin-top: 2px;
    }

    .company__text p {
        margin-right: 0;
        width: 100%;
        max-width: 800px;
    }

    .company__photo {
        margin-left: 0%;
        padding-bottom: 30px;
    }

    .exclusive__photo {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        justify-content: space-around;
        position: relative;
    }

    .exclusive__paralax {
        height: auto;
        margin-top: 6px;
    }

    .news__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #f4f4f4;
        padding-left: 10px;
        margin: 0;
    }

    .news .container {
        background: #f4f4f4;
    }

    .news-1 {
        margin-bottom: 30px;
        width: 100%;
    }

    .news-1 img {
        width: 100%;
    }

    .price__paralax {
        margin-bottom: 30px;
        height: 390px;
    }

    .price__content {
        padding-bottom: 50px;
    }

    .paralax__title {
        width: auto;
    }

    .link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .but-1 {
        margin-right: 20px;
    }

    .section {
        z-index: 99;
    }

    .sec-title {
        padding-top: 25px;
    }

    .contact__title {
        padding-top: 25px;
    }

    .contact__link {
        flex-wrap: wrap;
    }

    .contact__link button {
        padding: 17px 35px;
        margin-top: 30px;
    }

    .city {
        left: -1.4%;
    }

    .city-img {
        width: 103%;
        margin-right: 15%;
    }

    .contact__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        position: relative;
    }

    .contact__logo {
        left: 35%;
        bottom: 35%;
        position: absolute;
    }

    .contact__1 {
        margin-top: 100px;
        
    }

    .contact__2 {
        margin-top: 100px;
        
    }

    .contact__3 {
        margin-top: 100px;
        
    }
}

@media (max-width: 722px) {
    .map {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .map-1 {
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
    }

    .map-2 {
        height: 300px;
    }
}

@media (max-width: 670px) {
    .lang .figure {
        display: none;
    }

    .lang hr {
        display: none;
    }

    .lang .calendar {
        display: none;
    }

    .lang .day {
        display: none;
    }
}

@media (max-width: 576px) {
    .calendar {
        display: none;
    }

    .lang .day {
        display: none;
    }

    .lang hr {
        display: none;
    }

    .lang h3 {
        padding-right: 40px;
    }

    .dropdown-item img {
        display: block;
    }

    .figure {
        display: none;
    }

    .nav.fixed .logo img {
        width: 70%;
    }

    .nav.fixed .nav-toggle {
        top: 52px;
    }

    .nav.fixed .nav-toggle__item {
        background: #1c9700;
    }
    
    .nav.fixed .nav-toggle__item::after, .nav-toggle__item::before{
        background: #1c9700;
    }
    
    .nav.fixed .nav-toggle__item::before{
        background: #1c9700;
    }

    .nav-toggle__item::before, .nav-toggle__item::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: transform .2s linear;
    }

    .nav__lin {
        margin-top: 10px;
    }

    .nav__lin a {
        font-size: 42px;
        padding-top: 20px;
    }

    .intro {
        width: 250%;
    }

    .intro__suptitle {
        font-size: 42px;
    }

    .intro__title {
        font-size: 18px;
    }

    .about h3 {
        font-size: 42px;
    }

    .about__info {
        padding-top: 0;
        margin-top: 0;
    }

    .about__info h3 {
        font-size: 30px;
        padding-top: 40px;
    }

    .about__text {
        padding-right: 0;
    }

    .about__text h3 {
        font-size: 28px;
    }

    .about__info h3::before {
        top: 22%;
    }

    .about__text p {
        width: 100%;
        max-width: 500px;
        padding-right: 35px;
    }

    .about__photo {
        margin-right: 10%;
    }

    .about h2 {
        color: #222221;
        font-size: 32px;
        font-weight: 900;
        padding-top: 18px;
        padding-right: 27px;
        margin-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
    }

    .section {
        z-index: 99;
    }

    .section__bg {
        height: auto;
        z-index: 9;
        margin-top: -20px;
    }

    .section__info {
        left: 0;
        margin-top: 30px;
    }

    .info-1 {
        position: static;
        left: 0;
        right: 0;
        padding-bottom: 30px;
    }

    .info-2 {
        position: static;
        left: 0;
        right: 0;
        padding-bottom: 30px;
    }

    .info-3 {
        position: static;
        left: 0;
        right: 0;
        padding-bottom: 30px;
    }

    .info-4 {
        position: static;
        left: 0;
        right: 0;
        padding-bottom: 30px;
    }

    .info-5 {
        position: static;
        left: 0;
        right: 0;
        padding-bottom: 30px;
    }

    .section__content {
        z-index: 99;
    }

    .section__info {
        display: flex;
        flex-direction: column;
    }

    .fon-2 img {
        z-index: -9;
        top: 0%;
    }

    .company__text {
        padding-top: 0;
        margin: 0 -25px;
    }

    .company__text p {
        margin-top: 0;
        width: 100%;
        max-width: 500px;
    }

    .company__photo img {
        width: 100%;
        margin-left: 0%;
        padding-bottom: 50px;
    }

    .company__photo h3 {
        left: 21%;
        font-size: 58px;
        bottom: 25%;
    }

    .company__photo span {
        left: 35%;
        bottom: 17%;
    }

    .exclusive__paralax {
        height: auto;
        margin-top: -5px;
    }

    .exclusive__photo {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .exclusive__text {
        width: auto;
    }

    .news__content {
        margin: 0;
        padding: 30px 0 0 0;
    }

    .news-1 {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0;
        margin-bottom: 40px;
    }

    .news-1 img {
        width: 100%;
    }

    .news-1 h3 {
        font-size: 18px;
    }

    .news-1 p {
        font-size: 16px;
        line-height: 24px;
    }

    .price__paralax {
        height: auto;
    }

    .price__content {
        padding-bottom: 0;
    }

    .but-1 {
        margin-right: 30px;
        left: 15px;
    }

    .but-2 {
        margin: 30px 0;
        padding: 19px 60px 19px 91px;
    }

    .logo {
        margin: 10px auto;
    }

    .contact__title h3::after {
        margin-bottom: 60px;
    }

    .contact__info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contact__logo {
        left: 0;
        top: 0;
        position: static;
        padding-top: 0;
    }

    .contact__1 {
        padding-top: 20px;
        margin-top: 0;
    }

    .contact__2 {
        margin-top: 40px;
    }

    .contact__3 {
        margin-top: 40px;
    }

    .social {
        margin-top: 40px;
    }

    .copyright span {
        font-size: 11px;
    }


    .cont-h3 {
        padding: 0;
    }

    .contact__1 {
        padding-top: 0;
        margin-top: 0;
    }
    .contact__page-2 {
        margin-top: 50px;
        padding-right: 0;
    }
    .contact__page-3 {
        margin-top: 50px;
    }

    .job__mail img {
        padding-left: 25px;
    }

    .con-h3 {
        padding: 0;
    }

    .news__page-content {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .job__right {
        height: auto;
    }

    .contact__1 h3 {
        padding-top: 0;
    }
    .contact__2 h3 {
        padding-top: 0;
    }
    .contact__3 h3 {
        padding-top: 0;
    }
}

@media (max-width: 608px) {
    .contact__info {
        flex-direction: column;
    }

    .contact__logo {
        left: 0;
        top: 0;
        position: static;
    }

    .contact__info h3 {
        font-size: 22px;
    }

    .contact__info h4 {
        font-size: 22px;
    }

    .contact__1 {
        margin-top: 30px;
    }

    .contact__2 {
        margin-top: 30px;
    }

    .contact__3 {
        margin-top: 30px;
    }
}

@media (max-width: 512px) {
    .price__left img {
        width: 100%;
        max-width: 100%;
    }

    .price__right {
        width: 100%;
    }

    .price__text p {
        width: 100%;
    }

    .price__content h3 {
        width: 100%;
    }
}

@media (max-width: 414px) {
    .section__bg {
        height: auto;
    }
}

@media (max-width: 376px) {

    .nav__lin a {
        font-size: 32px;
    }

    .lang-ru {
        display: block;
    }

    .russia {
        display: none;
    }

    .dropdown-item img {
        display: block;
    }

    .dropdown-menu>li>a {
        display: flex;
    }

    .intro__suptitle {
        font-size: 32px;
    }

    .about h2 {
        font-size: 29px;
    }

    .about__text {
        padding-top: 0;
    }

    .about__text p {
        width: 370px;
        font-family: 'Montserrat', sans-serif;
    }

    .about__text h3 {
        bottom: 57.7%;
        font-size: 30px;
    }

    .about__photo {
        margin-right: 10%;
    }

    .company__text p {
        width: 100%;
        max-width: 350px;
    }

    .company__photo h3 {
        font-size: 48px;
        top: 60%;
    }

    .company__photo span {
        top: 71%;
    }

    .exclusive__paralax {
        height: auto;
    }

    .photo {
        left: 0%;
    }

    .price__paralax {
        height: auto;
    }

    .contact__logo {
        left: 13%;
    }

    .but-2 {
        padding: 19px 64px 19px 89px;
        margin-bottom: 30px;
    }

    .section__bg {
        height: auto;
        z-index: 9;
        margin-top: -29px;
    }

    .con-h3 {
        padding-top: 0;
    }

    .contact__1 h3 {
        padding-top: 0;
    }
}

@media (max-width: 360px) {
    .about__text h3 {
        font-size: 26px;
        
    }

    .about__text h3::before {
        top: -50%;
    }

    .about__text p {
        width: 325px;
    }

    .about__info h3 {
        font-size: 26px;
    }

    .exclusive__text {
        margin-left: -3px;
    }

    .intro__title {
        font-size: 16px;
    }

    .exclusive__paralax {
        margin-top: -10px;
    }

    .price__paralax {
        height: auto;
    }

    .job__mail a {
        margin-left: 0;
    }

    .job__mail p {
        font-size: 20px;
    }
}

@media (max-width: 321px) {
    .info {
        justify-content: space-between;
    }

    .lang {
        display: block;
    }
    
    .lang-ru a {
        font-size: 14px;
    }

    .nav-toggle {
        right: 14px;
    }

    .nav.fixed .logo img {
        width: 70%;
    }

    .nav.fixed .nav-toggle {
        top: 52px;
    }

    .nav.fixed .nav-toggle__item {
        background: #1c9700;
    }
    
    .nav.fixed .nav-toggle__item::after, .nav-toggle__item::before{
        background: #1c9700;
    }
    
    .nav.fixed .nav-toggle__item::before{
        background: #1c9700;
    }

    .nav-toggle__item::before, .nav-toggle__item::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: transform .2s linear;
    }

    .nav__lin a {
        font-size: 22px;
    }

    .intro__title {
        font-size: 14px;
    }

    .text-hr {
        margin-left: 1%;
        margin-right: 0%;
    }

    .about h2 {
        font-size: 26px;
        padding-right: 5%;
        margin-bottom: 25px;
    }

    .about__text h3 {
        font-size: 24px;
        padding-top: 30px;
    }

    .about__text h3::before {
        top: 10%;
    }

    .about__text p {
        width: 300px;
    }

    .about__photo {
        margin-right: 11%;
    }

    .about__photo img {
        padding: 15px 0 0 0;
    }

    .section__bg {
        height: auto;
    }

    .section__info {
        margin-top: 30px;
    }

    .about__info {
        margin-left: 1%;
    }

    .company__text p {
        width: 285px;
    }

    .company__photo {
        margin-top: 0;
    }

    .company__photo img {
        width: 100%;
        padding-bottom: 50px;
    }

    .company__photo h3 {
        left: 29%;
        font-size: 42px;
        bottom: 26%;
    }

    .company__photo span {
        left: 39%;
        bottom: 15%;
    }

    .exclusive__paralax {
        height: auto;
        margin-top: 0;
    }

    .section__title h3 {
        font-size: 35px;
    }

    .news-1 {
        height: 550px;
    }

    .news-1:last-child {
        height: 500px;
    }

    .news-1 h3 {
        padding: 10px 4px 15px;
    }

    .paralax__title {
        padding-top: 30px;
    }

    .paralax__title h3::after {
        margin-bottom: 30px;
    }

    .but-1 {
        padding: 19px 35px 19px 60px;
    }

    .but-2 {
        padding: 19px 43px 19px 81px;
        left: -.4%;
    }

    .contact__title h3 {
        padding-top: 0px;
    }

    .contact__logo {
        left: 0;
        top: 0;
        position: static;
    }

    .contact__1 {
        margin-top: 0;
    }

    .copyright span {
        font-size: 12px;
    }

    .map-1 {
        width: 290px;
        margin-left: 0;
        margin-right: 0;
    }

    .map-1 img {
        width: 100%;
    }

    .contact__page-2 {
        margin-top: 82px;
        padding-right: 0;
    }

    .job__mail p {
        font-size: 20px;
    }
}

@media (max-width: 409px) {
    .job__left h3 {
        font-size: 20px;
    }

    .job__left span {
        font-size: 28px;
    }
}

@media (max-width: 376px) {
    .nav.fixed .logo img {
        width: 70%;
    }

    .nav.fixed .nav-toggle {
        top: 52px;
    }

    .nav.fixed .nav-toggle__item {
        background: #1c9700;
    }
    
    .nav.fixed .nav-toggle__item::after, .nav-toggle__item::before{
        background: #1c9700;
    }
    
    .nav.fixed .nav-toggle__item::before{
        background: #1c9700;
    }

    .nav-toggle__item::before, .nav-toggle__item::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: transform .2s linear;
    }
    .job__left h3 {
        font-size: 20px;
        line-height: 35px;
    }

    .job__left span {
        font-size: 30px;
    }

    .job__mail a {
        font-size: 22px;
    }

    .contact__1 h3 {
        padding-top: 20px;
    }
}

@media (max-width: 336px) {
    .job__mail a {
        font-size: 19px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption h2 {
		font-size: 48px;
    }
    .carousel-caption h3 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 767px) {
	
	.carousel-caption h2 {
		font-size: 50px;
	}
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
}

@media (max-width: 576px) {
    .carousel-caption h2 {
		font-size: 35px;
    }
    .carousel-caption h3 {
		font-size: 14px;
	}
}

@media (max-width: 576px) {
    .carousel-caption h2 {
		font-size: 30px;
	}
}

@media (max-width: 321px) {

    .carousel-caption h2 {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .contact__1 h3 {
        padding-top: 20px;
    }

    .carousel-caption h3 {
        font-size: 18px;
    }
}

.mail-e {
    position: static;
    margin-left: 0;
}


